
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Univ/FileContentIndex/3aebda9b-ece7-49cf-8a95-0e02093deac3.vsidx
.vs/Univ/FileContentIndex/0cd7ab8d-91ad-4da6-b85a-374296f759d3.vsidx
*.vsidx
.vs/Univ/v17/DocumentLayout.json
.vs/Univ/v17/Browse.VC.db-shm
.vs/Univ/v17/.wsuo
.vs/Univ/v17/Browse.VC.db
.vs/Univ/v17/Browse.VC.db-wal
.vs/Univ/v17/Browse.VC.opendb
.vs/VSWorkspaceState.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.cpp
